@import url('https://fonts.googleapis.com/css2?family=Rambla:wght@700&display=swap');
@import url('fonts.css');
/* COMMON */
html, body {
	height: 100%;
	font-family: "Montserrat", Arial, Helvetica, sans-serif;
}
/* CLEAR STYLIZATION */
* {
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul, li {
	display: block;
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}
button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 0;
    border-radius: 0;
    background: #ccc;
}
/* HEADER */
.header {
	position: relative;
	width: 100%;
	height: 648px;
	background-image: url('../img/header.png');
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 999;
}
.header-default .container-fluid {
	height: 100px;
}
.header-default {
	position: relative;
	width: 100%;
	z-index: 999;
}
.header__body {
    position: fixed;
	width: 100%;
	height: 100px;
    padding: 34px 130px;
    background: #035397;
	border-bottom: 2px solid #000000;
	z-index: 3;
}
.header__logo {
    flex: 0 0 147px;
	position: relative;
	z-index: 2;
}
.logo-caption {}
.logo-caption p {
	font-family: 'Rambla';
	font-style: normal;
	font-weight: 700;
	color: #E8630A;
}
.logo-caption__header {
	font-family: 'Rambla', sans-serif;
	font-size: 23px;
	line-height: 28px;
}
.logo-caption__hr {
    width: 100%;
    height: 2px !important;
    background: #ffffff;
    opacity: 1;
    border: 0;
    margin: 0px 0px 2px 0px;
}
.logo-caption__text {
	font-family: 'Rambla', sans-serif;
	font-size: 12px;
	line-height: 15px;
}
.header__burger {
    display: none;
}
.header__menu {}
.header__list {
	display: flex;
}
.header__list li {
    margin: 0px 100px 0px 0px;
}
.header__list li:last-child {
	margin-right: 0;
}
.header__link a {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
.header__icon {
	margin: 0px 0px 0px 5px;
}
.header__content {
	top: 162px;
	left: 0;
}
.header__title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 48px;
	line-height: 59px;
	text-align: center;
	color: #FFFFFF;
}
.header__content .header__title {
	margin: 0px 0px 16px 0px;
}
.header__content .subtitle-text {
	margin: 0px 0px 24px 0px;
	color: #FFFFFF;
}
.container-search {
    max-width: 558px;
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}
.container-search form {
	margin: 8px 0px 0px 0px;
}
.container-search textarea {
    width: 100%;
    min-height: 96px;
	max-height: 230px;
    background: #035397;
    border: none;
	font-weight: 600;
	font-size: 16px;
	line-height: 20px;
    color: #BDBDBD;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
	margin: 0 auto;
}
.container-search textarea:hover,
.container-search textarea:focus {
	background: #035397;
	color: #BDBDBD;
}
.feedback-btn {
	width: 100%;
	max-width: 300px;
	height: 38px;
	background: #E8630A;
	border-radius: 8px;
	padding: 5px 0px 4px 0px;
	font-weight: 700;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
	margin: 24px 0px 0px 0px;
}
.help-text {
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;
	text-align: left;
	padding: 0px 0px 0px 10px;
}
@media (max-width: 1401px) {
    .header__body {
		padding: 30px 100px;
	}
}
@media (max-width: 1201px) {
    .header__body {
		padding: 20px 65px;
	}
}
@media (max-width: 925px) {
	body.lock {
		overflow: hidden;
	}
    .header__burger {
        display: block;
        position: relative;
        width: 40px;
        height: 29px;
		z-index: 2;
    }
	.header__menu {
		position: absolute;
		top: -100%;
		left: 0;
		width: 100%;
		max-height: 0;
		overflow: auto;
		transition: all 0.3s ease 0s;
		background-color: #001E6C;
		padding: 117px 0px 0px 70px;
		z-index: 1;
	}
	.header__menu.active {
		top: 0;
		max-height: 100vh;
        height: 100vh;
	}
	.header__list {
		display: block;
	}
	.header__list li {
		margin: 0px 0px 20px 0px;
	}
	.header__link a {
		font-size: 24px;
	}
}
@media (max-width: 281px) {
    .header__logo {
		flex: 0 0 150px;
	}
}
/* CONTENT */
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}
.page {
    flex: 1 1 auto;
}
.page__section {}
.page__section_light {
	background-color: #035397;
}
.page__section_dark {
	background-color: #001E6C;
}
.page-title {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 800;
	font-size: 45px;
	line-height: 55px;
	color: #FEFEFE;
}
.page__section .page-title {
	padding: 0px 0px 16px 0px;
	margin: 0;
}
.subtitle-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #C4C4C4;
}
.page-text {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
@media (max-width: 575px) {
	.page-title { 
		font-size: 18px;
		line-height: 24px;
	}
	.subtitle-text {
		font-size: 16px;
		line-height: 24px;
	}
	.page-text {
		font-size: 16px;
		line-height: 24px;
	}
}
/* PREMIUM SECTION */
.page__section_premium {}
.page__section_premium .content {
	padding: 180px 0px 180px 120px;
}
.page__section_premium .subtitle-text {
	margin: 0px 0px 55px 0px;
}
.advantages {}
.advantages__item {
	margin: 0px 0px 66px 0px;
}
.advantages__item:last-child {
	margin-bottom: 55px;
}
.advantages__item p {
	font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
}
.advantages__item p {
	margin: 0px 0px 0px 30px;
}
.check-img {
	width: 78px;
}
.start-btn {
	max-width: 100%;
	width: 380px;
	background: #E8630A;
	border-radius: 13px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 24px;
	color: #FFFFFF;
	padding: 22px 0px 22px 0px;
}
@media (max-width: 825px) { 
	.page__section_premium .content {
		padding: 70px 35px 70px 35px;
	}
	.page__section_premium .col-xl-5 {
		text-align: center;
	}
	.advantages__item img {
		width: 45px;
	}
}
@media (max-width: 575px) { 
	.page__section_premium .subtitle-text {
		margin: 0px 0px 25px 0px;
	}
	.page__section_premium .content {
		padding: 50px 15px 50px 15px;
	}
	.advantages__item {
		margin: 0px 0px 38px 0px;
	}
	.advantages__item img {
		width: 35px;
	}
	.advantages__item p {
		font-size: 18px;
		line-height: 24px;
	}
}
/* ABOUT SECTION */
.page__section_about .col-xl-8 {
	padding: 100px 0px 100px 0px;
}
.page__section_about .page-text {
	max-width: 1020px;
	margin: 0px auto 100px auto;
}
.facts .col-xl-12 {
	padding: 70px 0px 0px 0px;
}
.blue-box__text {
	max-width: 244px;
	font-family: Montserrat;
	font-style: normal;
	font-weight: 500;
	font-size: 28px;
	line-height: 34px;
	color: #FFFFFF;
	margin: 24px auto 0px auto;
}
@media (max-width: 825px) { 
	.blue-box__text {
		font-size: 32px;
		line-height: 42px;
	}
}
@media (max-width: 575px) { 
	.page__section_about .col-xl-8 {
		padding: 50px 0px 25px 0px;
	}
	.page__section_about .page-text {
		margin: 0px auto 25px auto;
		padding: 0px 15px 0px 15px;
	}
	.facts .col-xl-12 {
		padding: 0px 0px 0px 0px;
	}
	.blue-box__text { 
		font-size: 16px;
		line-height: 24px;
	}

}
/* DOCUMENTATION SECTION */
.page__section_documentation {
	padding: 50px 0px 50px 0px;
}
.page__section_documentation .page-title {
	margin: 0px 0px 15px 0px;
}
.documentation-box {
	max-width: 400px;
	height: 400px;
	background: #001E6C;
	margin: 0 auto;
}
.documentation-box:hover {
	cursor: pointer;
}
.documentation-box img {
	z-index: 1;
}
.documentation-box img:hover {
	filter: blur(3px);
}
.documentation-box__title {
	width: 100%;
	height: 110px;
	background: #333333;
	opacity: 0.7;
	bottom: 0;
    left: 0;
	z-index: 2;
}
.documentation-box__title p {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 25px;
	line-height: 30px;
	display: flex;
	align-items: center;
	text-align: center;
	color: #ffffff;
}
.subscribe {
	margin: 50px 0px 0px 0px;
}
.subscribe .subscribe__title {
	margin: 0px 0px 24px 0px;
}
.subscribe__title {
	font-weight: 700;
	font-size: 50px;
	line-height: 61px;
    color: #ffffff;
}
.subscribe .subscribe__text{
	margin: 0px 0px 30px 0px;
}
.subscribe__text {
	font-weight: 600;
	font-size: 30px;
	line-height: 37px;
	color: #ffffff;
}
.subscribe-input {
	max-width: 100%;
	width: 500px;
	background: #ffffff;
	border: 2px solid #E8630A;
	border-radius: 15px;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	color: #000000;
	padding: 7px 0px 7px 10px;
	outline: none;
	margin: 0px 55px 0px 0px;
}
.subscribe-btn {
	width: 100%;
	max-width: 300px;
	background: #E8630A;
	border-radius: 13px;
	font-weight: 700;
	font-size: 28px;
	line-height: 34px;
	color: #ffffff;
	padding: 2px 0px 2px 0px;
}
@media (max-width: 575px) { 
	.subscribe__title {
		font-size: 30px;
		line-height: 24px;
	}
	.subscribe__text {
		font-size: 24px;
		line-height: 24px;
	}
	.subscribe-form {
		flex-direction: column;
	}
	.subscribe-input {
		margin: 0px 0px 18px 0px;
	}
}
/* GENS PAGE */
/* DIAGRAM SECTION */
.page__section_diagram {
	padding: 50px 0px 50px 0px;
    width: 100%;
    background-image: url(../img/background.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page__section_diagram .subtitle-text {
	color: #ffffff;
}
.blue-box {
	background: #1B96FF;
	border-radius: 25px;
	padding: 25px;
	margin: 0px 0px 45px 0px;
}
.blue-box:last-child {
	margin-bottom: 0;
}
.page__section_diagram h2 {
	font-weight: 700;
	font-size: 32px;
	line-height: 41px;
	display: flex;
	align-items: center;
	color: #000000;
}
.diagram {}
.diagram-btn {
	background: none;
	margin: 0px 15px 0px 0px;
}
.diagram-btn:last-child {
	margin-right: 0;
}
.page-text span {
	font-weight: 600;
}
@media (min-width: 1781px){
	.page__section_diagram .container {
		max-width: 1660px;
	}
}
/* FOOTER */
.footer {
	padding: 50px 0px 50px 0px;
}
.footer__header {
	font-weight: 500;
	font-size: 30px;
	line-height: 36px;
	color: #FFFFFF;
	margin: 0px 0px 36px 0px;
}
.footer__list .footer__link {
	max-width: 306px;
	margin: 0px 0px 28px 0px;
}
.footer__text, .footer__link a {
    font-family: Montserrat;
	font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 29px;
	color: #FFFFFF;
}
.copyright {
	margin: 50px 0px 0px 0px;
}
@media (max-width: 575px) { 
	.footer__header {
		font-size: 18px;
		margin: 0px 0px 24px 0px;
	}
	.footer__text, .footer__link a {
		font-size: 16px;
		line-height: 24px;
	}
	.footer__list .footer__link {
		margin: 0px 0px 14px 0px;
	}
	.copyright {
		flex-direction: column;
        flex-wrap: wrap;
		margin: 50px 0px 0px 0px;
	}
	.copyright .footer__text {
		margin: 0px 0px 15px 0px;
	}
}
/* MODAL */
.btn-close {
    background-color: red;
}
.modal-buttons {
	max-width: 600px;
	margin: 0 auto;
}
.modal-buttons .page__text {
	color: #507a9e;
}